const defaultTheme = require('tailwindcss/defaultTheme');

module.exports = {
  theme: {
    extend: {
      fontFamily: {
        sans: ['Prompt', ...defaultTheme.fontFamily.sans],
        heading: ['"Fjalla One"', 'sans-serif'], // 👈 This enables class="font-heading"
      },
    },
  },
  content: [
    './resources/views/**/*.blade.php',
    './resources/scripts/**/*.{js,ts,vue}',
  ],
  safelist: [
  'slick-dots',
  'slick-active',
]

};

